.background1{
    background-color:rgb(253, 181, 48);
}

.container{
    margin: 2% 10% 2% 10%;
}

.heading{
    text-align: center;
    font-size: 2em;
    color: white;
}

.submitbutton{
    display: inline-block;
    background-color: mediumseagreen;
    font-size: 1em;
}

.w-message{
    font-size: 30px;
    color: rgb(194, 243, 243); 
}